#!/bin/bash
#

export IWEBHOOK_BASE_URL="http://127.0.0.1:8888"
export IWEBHOOK_SLACK_URL=""
export IWEBHOOK_SLACK_CHANNEL="temp"
export IWEBHOOK_DINGTALK_TOKEN=""
export IWEBHOOK_DINGTALK_ATMOBILES="18600000000,18500000000"
